<%- include("../layouts/header.ejs") %>

<h1>Reset Password</h1>

<% if (typeof message !== 'undefined') { %>
  <h4 style="color: black;"><%= message %></h4>
<% } %>

<form action="/password_reset" method="post">

  <input type="password" name="password" placeholder="New password" required>
  <br><br>

  <input type="hidden" name="user_id" value="<%= user_id %>">
  <input type="hidden" name="token" value="<%= token %>">

  <input type="submit" value="Reset Password">

</form>








<%- include("../layouts/footer.ejs") %>