<%- include("../layouts/header.ejs") %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="card bg-dark text-white p-4 shadow" style="width: 100%; max-width: 400px;">

        <h1 class="text-center text-danger fw-bold mb-4">Reset Password</h1>

        <% if (typeof message !== 'undefined') { %>
            <h4 class="text-center text-white bg-danger p-2 rounded"><%= message %></h4>
        <% } %>

        <div id="error" class="text-danger mb-2"></div>
        <form id="form" action="/password_reset" method="post">

            <div class="mb-3">
                <input  id="form" type="password" name="password" placeholder="New Password" required class="form-control bg-secondary text-white border-0">
            </div>

            <input type="hidden" name="user_id" value="<%= user_id %>">
            <input type="hidden" name="token" value="<%= token %>">

            <div class="d-grid mb-3">
                <input type="submit" value="Reset Password" class="btn btn-danger">
            </div>

        </form>

    </div>
</div>

<script src="/script.js"></script>
<%- include("../layouts/footer.ejs") %>